main {
    text-align: center;
}

.country {
    width: 200px;
    margin: auto;
    text-align: center;
}

img {
    width: 200px;
}

#countainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 15px;
}