* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: rgb(0, 0, 0);

  .titlePadding {
    padding-top: 200px;
  }
  .mediumTitle {
    width: 550px;
  }
  p {
    color: #fff !important;
  }
  #button {
    padding: 15px 35px;
    border: 2px solid #fff;
  }
  .titleWidth {
    width: 400px;
  }
}

.conteudo-1 {
  background-image: url("../img/home/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  header {
    height: 80px;
    font-size: 12px;
    font-weight: bold;
    .img-logo {
      width: 200px;
    }
    .navbar {
      background-color: transparent !important;
      color: #fff !important;
    }
    .nav-link {
      color: #fff !important;
    }
  }
}

.conteudo-2 {
  background-image: url("../img/home/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.conteudo-3 {
  background-image: url("../img/home/02.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.conteudo-4 {
  background-image: url("../img/home/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer > a {
  text-decoration: none;
  color: #fff;
}
.footer > span {
  color: rgb(95, 95, 95);
}

@import "pags/HUMAN-SPACE-FLIGHT.scss";

@import "pags/FALCON-9.scss";
