*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    border: solid 1px black;
}
main{
    display: flex;
    background-color: darkgrey;
    /*justify-content: space-between;*/
    flex: 1 0 200px;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
div.Item{
    flex-basis: 350px;
    height: 230px;
    border: solid 1px black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
footer{
    display: flex;
    justify-content: center;
    border: solid 1px black;
}